---
import Layout from "../layouts/Layout.astro";
import MediaManager from "../components/MediaManager.astro";
---

<Layout title="Wix Media Manager">
  <div class="bg-white border-b border-gray-200 shadow-sm">
    <header class="container mx-auto p-4">
      <div class="flex items-center">
        <div class="font-bold text-2xl text-blue-600">Wix Media Manager</div>
      </div>
    </header>
  </div>

  <MediaManager />
</Layout>
